body {
    font-family: "Open Sans", sans-serif;
}

.header {
    background-color: grey;
}

.header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #ffffff;

}

h1 {
    font-family: Raleway, sans-serif;
}