:root {
    --header-text-color: #ffffff;
    --first-btn-color: #ffffff;
    --second-btn-color: #303030;
    --first-title-color: #ffffff;
    --second-title-color: #303030;
    --accent-color: #FF6C00;
}

body {
    font-family: "Open Sans", sans-serif;
}

.list {
    list-style: none;
}

a {
    text-decoration: none;
}

/* HEADER */

.header {
    background-color: grey;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    color: var(--first-btn-color);
}

.header-link {
    color: var(--header-text-color);
    letter-spacing: 0.01em;
}

.header-link-tel {
    color: currentColor;
    letter-spacing: 0.01em;
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

h1 {
    font-family: Raleway, sans-serif;
}

.header .btn {
    font-family: inherit;
    color: var(--first-btn-color);
    letter-spacing: 0.09em;
}

.header .btn:hover,
.header .btn:focus {
    color: var(--first-btn-color);
}


/* Hero */


.hero {
    background-color: gray;
}

.hero-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--second-title-color);
}

.hero-link:hover,
.hero-link:focus {
    color: var(--accent-color);
}