.hero-container {
    display: flex;
    width: 100%;
    padding: 0;

    @include tab {
        width: 720px;
        padding-left: 15px;
        padding-right: 15px;
      }
      @include desk {
        width: 1200px;
      }
}

.hero-right {
    background-color: gray;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 1;
    // padding: 272px 0 206px 96px;
    padding: 288px 0 183px 31px;


    @include tab {
        padding: 280px 0 234px 70px;
        background-image: linear-gradient(
            rgba(25, 28, 38, 0.2),
            rgba(25, 28, 38, 0.2)
          )
    }

    @include desk {
        padding: 208px 0 183px 31px;
        background-image: linear-gradient(
            rgba(25, 28, 38, 0.2),
            rgba(25, 28, 38, 0.2)
          )

    }

}

.hero-left {
    display: none;
    align-items: flex-end;
    width: 93px;
    padding-left: 23px;
    padding-bottom: 40px;

    @include tab {
        display: flex;
      }
}

.hero-list {
    display: flex;
    align-items: center;
    transform: rotate(-90deg) translate(-19px);
    transform-origin: top left;
}

.hero-list::before {
    /* display: block; */
    content: "";
    flex-shrink: 0;
    margin-right: 40px;
    width: 60px;
    height: 1px;
    background-color: var(--second-title-color);
}

.hero-item+.hero-item {
    margin-left: 40px;
}

.hero-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--second-title-color);
}

.hero-link:hover,
.hero-link:focus {
    color: var(--accent-color);
}

.hero-pre-title {
    color: rgba(157, 164, 189, 0.6);
    margin-bottom: 20px;
}



.hero-title {
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--first-title-color);
    margin-bottom: 20px;

    @include tab {
        font-size: 46px;
      }

    @include desk {
        font-size: 72px;
        line-height: 1.18;
      }
}

.hero-after-title {

    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.02em;
    color: #9DA4BD;
    max-width: 360px;

    @include tab {
        max-width: 349px;
      }
    
      @include desk {
        max-width: 400px;
        font-size: 18px;
        line-height: 1.67;
      }
}